[project]
name = "fourier_toolkit"
dynamic = ["version"]
description = "Collection of utilities to compute Fourier sums."
readme = "README.rst"
authors = [
    { name = "Sepand KASHANI", email = "sepand@kashani.ch" }
]
urls.download = "https://github.com/SepandKashani/fourier_toolkit"
requires-python = ">=3.11"
license = "MIT"
dependencies = [
    "finufft>=2.2.0",
    "numpy>=2.0.0",
    "opt-einsum>=3.3.0",
]

[build-system]
requires = [
    "hatchling",
    "hatch-vcs",
]
build-backend = "hatchling.build"

[dependency-groups]
dev = [
    "pre-commit>=4.5.1",
    "pytest>=9.0.2",
    "ruff>=0.14.10",
    "scipy>=1.16.3",
    "sphinx>=9.0.4",
    "sphinxcontrib-bibtex>=2.6.5",
    "ty>=0.0.8",
]

[tool.hatch.version]
source = "vcs"
